<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sl.entity.Cat">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cat" id="catMap">

        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="catname" property="catname" jdbcType="VARCHAR" />
        <result column="catage" property="catage" jdbcType="VARCHAR" />
        <result column="cataddress" property="cataddress" jdbcType="VARCHAR" />

    </resultMap>


    <insert id="insertCat" parameterType="com.sl.entity.Cat">
           insert into cat(id, catname, catage, cataddress)
               values(#{id},#{catname}, #{catage}, #{cataddress})
   </insert>

    <select id="selectList"  resultMap="catMap">
        select id,catname,catage,cataddress from cat
    </select>


    <select id="selectPartitionList"  resultMap="catMap" parameterType="java.util.Map">
        select id,catname,catage,cataddress from cat
        where 1=1  and
        <if test="fromId != null">
            id <![CDATA[ >= ]]> #{fromId}
         </if>
         <if test="toId != null">
             and id <![CDATA[ <= ]]>  #{toId}
         </if>
    </select>

</mapper>